.modal-content {
  --padding-start: 1em;
  --padding-end: 1em;
}

.list-add {
  display: flex;
  justify-content: space-between;
}

.list {
  background-color: transparent;
}

.list-item {
  --ion-item-background: transparent;
  margin-bottom: 1em;
  border: 2px solid grey;
  border-radius: 1em;
}