ion-toolbar {
  --background: var(--ion-toolbar-background);
}

ion-content {
  --padding-start: 1em;
  --padding-end: 1em;
}

.list-add {
  display: flex;
  justify-content: space-between;
}

.list {
  background-color: var(--ion-list-background);
}

.list-item {
  margin-bottom: 1em;
  border: 2px solid grey;
  border-radius: 1em;
  --padding-start: 0.5em;
  --padding-end: 0.5em;
  --padding-top: 0.5em;
  --padding-bottom: 0.5em;
}

.id-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.id-button {
  margin: 0;
}