<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()" [strong]="true">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create space</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCreate()" [strong]="true">Create</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <ion-input label="Name" [(ngModel)]="spaceName"/>
  <ion-input label="Description" [(ngModel)]="spaceDescription"/>

  <div *ngIf="space">
    <h1>Collaborators</h1>

    <ion-list class="list">
      <ion-item class="list-item" *ngFor="let collaborator of space.space_collaborators;">
        <ion-label>{{collaborator}}</ion-label>
        <ion-button slot="end" color="danger" (click)="onDeleteCollaborator(collaborator)">
          <ion-icon name="trash"/>
        </ion-button>
      </ion-item>
    </ion-list>
  
    <div class="list-add">
      <ion-input [(ngModel)]="newCollaborator" placeHolder="New collaborator"/>
      <ion-button (click)="onAddCollaborator()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>

    <h1>Categories</h1>
  
    <ion-list class="list">
      <ion-item class="list-item" *ngFor="let category of dataService.categories;">
        <ion-label>{{category.category_title}}</ion-label>
        <ion-button slot="end" color="danger" (click)="onDeleteCategory(category.category_id)">
          <ion-icon name="trash"/>
        </ion-button>
      </ion-item>
    </ion-list>
  
    <div class="list-add">
      <ion-input [(ngModel)]="newCategory" placeHolder="New category"/>
      <ion-button (click)="onCreateCategory()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>