ion-content {
  --padding-start: 1em;
  --padding-end: 1em;
}

ion-toolbar {
  --background: var(--ion-toolbar-background);
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.login-form {
  text-align: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 10px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: black;
}

.login-input {
  width: 80%;
  margin: 2px;
}

.login-button {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
  