ion-content {
  --padding-start: 1em;
  --padding-end: 1em;
  --padding-top: 1em;
}

.expense-list {
  background-color: var(--ion-list-background);
}


.expense-tile {
  border: 2px solid grey;
  border-radius: 1em;
  margin-bottom: 1.0em;
}

.expense-tile > ion-item {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
  --padding-top: 0.5em;
  --padding-bottom: 0.5em;
}

.expense-title {
    font-size: 1.2em;
}

.ion-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bottom-toolbar {
  --padding-top: 0.5em;
  --padding-start: 0.5em;
  --padding-end: 0.5em;
  --padding-bottom: 0.5em;
}

.bottom-toolbar-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  white-space: nowrap;
  text-align: left;
  font-size: 12px;
}

.bottom-toolbar-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}
