<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back" />
    </ion-button>
    <ion-title *ngIf="space">{{space.space_name}}</ion-title>
    <ng-template #elseBlock>No name</ng-template>
  </ion-toolbar>
</ion-header>

<ion-content class="expense-body">
  <ion-list class="expense-list">
    <ion-item-sliding *ngFor="let expense of dataService.expenses;" class="expense-tile">
      <ion-item (click)="onExpense(expense.expense_id)">
        <div>
          <ion-label class="expense-title">{{expense.expense_description}}</ion-label> <br>
          <ion-label>Paid by <strong>{{expense.expense_paid_by}}</strong></ion-label>
        </div>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="onDelete(expense.expense_id)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCreateExpenseDialog()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
