<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="expense">{{expense.expense_description}}</ion-title>
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back" />
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="onEdit()">
      <ion-icon name="create" />
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="expense">
  <ion-label>Description: {{expense.expense_description}}</ion-label> <br>
  <ion-label>Cost: {{expense.expense_cost}} €</ion-label> <br>
  <ion-label>Author: {{expense.expense_paid_by}}</ion-label> <br>
  <ion-label>Date: {{expense.expense_date | date:"dd/MM/yy, HH:mm"}}</ion-label> <br>
  <ion-label>Category: {{category !== null ? category.category_title : 'None'}}</ion-label> <br>
</ion-content>