.space-body {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.space-list {
    padding: 1em;
    overflow: hidden;
}

.space-tile {
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 0.5em;
    width: 80%;
}

.space-titles {
    flex: 5;
}

.space-title {
    color: white;
    overflow: hidden;
    font-size: 1.2em;
}

.space-subtitle {
    color: rgb(192, 189, 189);
    overflow: hidden;
}

.spaces-buttons {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.space-icon-button {
    color: white;
}