<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>Spaces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="space-body">
  <ion-list class="space-list" *ngFor="let space of dataService.spaces;">
    <div class="space-tile" (click)="onSpace(space.space_id)">
      <div class="space-titles">
        <ion-label class="space-title">{{space.space_name}}</ion-label><br>
        <ion-label class="space-subtitle">{{space.space_description}}</ion-label>
      </div>
      
      <div class="spaces-buttons">
        <ion-button fill="clear" (click)="onEdit($event, space.space_id)">
          <ion-icon class="space-icon-button"  name="create"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="space-icon-button" (click)="onDelete($event, space.space_id)">
          <ion-icon class="space-icon-button" name="trash" aria-hidden="true"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCreateSpaceModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>