<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()" [strong]="true">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onEdit()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-content">
  <form [formGroup]="validationForm">
    <ion-input label="Description" formControlName="description" [(ngModel)]="expenseDescription" />
    <ion-input type="number" formControlName="cost" label="Cost" [(ngModel)]="expenseCost" />
  </form>
  <ion-select label="Category" [(ngModel)]="category">
    <ion-select-option
      *ngFor="let element of categoriesSelect"
      [value]="element"
      >{{ element?.category_title ?? "None" }}</ion-select-option
    >
  </ion-select>
</ion-content>
